[Unit]
Description=Change Wallpaper Every 2 Minutes

[Service]
ExecStart=/bin/bash /home/pokhares/.config/myscripts/dynamic_wallpaper.sh
Restart=always

[Install]
WantedBy=default.target
